*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  min-block-size: var(--default-viewport);
  margin: var(--size-medium);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body > *:not(script), body > *:not(script) + *:not(script) {
  display: inline-flex;
  flex-grow: 2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li::marker {
  content: "";
}

[class*="alter"] {
  color: var(--foreground-color-alt);
}

[class*="invert"] {
  color: var(--background-color);
  background-color: var(--foreground-color);
}

[class*="invert-alter"] {
  color: var(--background-color);
  background-color: var(--foreground-color-alt);
}

[class*="success"] {
  color: var(--success);
}

[class*="alert"] {
  color: var(--alert);
}

[class*="error"] {
  color: var(--error);
}

[class*="disable"] {
  color: var(--disable);
}