:root {
    --background-color: hsl(60, 3%, 96%);
    --foreground-color: hsl(240, 38%, 10%);
    --foreground-color-alt: hsl(246, 52%, 47%);
    --success: hsl(138.06, 67.32%, 30%);
    --alert: hsl(46.82, 88.43%, 52.55%);
    --error: hsl(356.81, 75.81%, 48.63%);
    --disable: hsl(0 0% 76.08%);
    --size-normal: .8rem;
    --size-tiny: .4rem;
    --size-medium: 1.6rem;
    --size-large: 4.8rem;
    --default-viewport: 100dvh;
}

.page {
    min-block-size: var(--default-viewport);
}

.sticky-top {
    position: sticky;
    top: var(--size-normal);
}

.color {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.color-alt {
    background-color: var(--background-color);
    color: var(--foreground-color-alt);
}

.color-invert {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.color-invert-alt {
    background-color: var(--foreground-color-alt);
    color: var(--background-color);
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.flex-center {
    justify-content: center;
}

.flex-evenly {
    justify-content: space-evenly;
}

.column {
    flex-flow: column nowrap;
    align-items: center;
    row-gap: var(--size-medium);
}

.row {
    flex-flow: row nowrap;
    align-items: center;
    column-gap: var(--size-medium);
}

.shrink {
    flex-shrink: 2;
}

.shrink-md {
    flex-shrink: 3;
}

.shrink-lg {
    flex-shrink: 4;
}

.grow {
    flex-grow: 2;
}

.grow-md {
    flex-grow: 3;
}

.grow-lg {
    flex-grow: 4;
}

.pad-inline {
    padding-inline: var(--size-normal);
}

.pad-inline-sm {
    padding-inline: var(--size-tiny);
}

.pad-inline-md {
    padding-inline: var(--size-medium);
}

.pad-inline-lg {
    padding-inline: var(--size-large);
}

.pad-block {
    padding-block: var(--size-normal);
}

.pad-block-sm {
    padding-block: var(--size-tiny);
}

.pad-block-md {
    padding-block: var(--size-medium);
}

.pad-block-lg {
    padding-block: var(--size-large);
}

.mar-block {
    margin-block: var(--size-normal);
}

.mar-block-sm {
    margin-block: var(--size-tiny);
}

.mar-block-md {
    margin-block: var(--size-medium);
}

.mar-block-lg {
    margin-block: var(--size-large);
}

.mar-block-ct {
    margin-block: auto;
}

.mar-inline {
    margin-inline: var(--size-normal);
}

.mar-inline-sm {
    margin-inline: var(--size-tiny);
}

.mar-inline-md {
    margin-inline: var(--size-medium);
}

.mar-inline-lg {
    margin-inline: var(--size-large);
}

.mar-inline-ct {
    margin-inline: auto;
}

.rad {
    border-radius: var(--size-normal);
}

.rad-start {
    border-start-start-radius: var(--size-normal);
    border-end-start-radius: var(--size-normal);
}

.rad-end {
    border-start-end-radius: var(--size-normal);
    border-end-end-radius: var(--size-normal);
}
