:root {
    --background-color: hsl(60, 3%, 96%);
    --foreground-color: hsl(240, 38%, 10%);
    --foreground-color-alt: hsl(246, 52%, 47%);
    --success: hsl(138.06, 67.32%, 30%);
    --alert: hsl(46.82, 88.43%, 52.55%);
    --error: hsl(356.81, 75.81%, 48.63%);
    --disable: hsl(0 0% 76.08%);
    --size-normal: 1.6rem;
    --size-tiny: .8rem;
    --size-medium: 3.2rem;
    --size-large: 6.4rem;
    --default-viewport: 90dvh;
}